:root {
  /* Brand */
  --color-primary: #780000d5;
  --color-secondary: #030303;

  /* Neutrales */
  --color-bg: #f8f8f8;
  --color-text: #1a1a1a;
  --color-muted: #6c757d;

  /* Estados */
  --color-success: #308a2dfd;
  --color-warning: #f19345;
  --color-danger: #e63946;
}
